nav a{
    text-decoration: none;
    color: black;
    background-color:#fed8ba;

}
.card{
    height: 250px;
    width: 150px;
    background-color: rgb(255, 234, 207);
}
#imgs{
    height: 150px;
    width: 150px;
    background-color: orange;
}
#super{
    /* height:1800px; */
    height:auto;
    width: 100%;
    background-color: rgb(253, 248, 242);
    font-size: 11px;
}
nav{
    height: 10%;
    width: 100%;
    background-color: #fed8ba;    
}
#home{
    text-align: center;
}
#banner{
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#highlight{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#insta{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#reg{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#footer{
    height: 10%;
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: #fed8ba;
}
.ng-touched.ng-invalid{
    color: red;
    border: 2px solid red;
}
